.ui-button
    max-width 100%
    min-width 110px
    display inline-block
    padding 11px 32px 12px
    background-color #ddd
    border-radius 6px
    border 0

    color #fff
    text-align center
    white-space nowrap
    font-weight 700
    font-size 15px

    outline 0
    overflow hidden

    -moz-appearance none
    -webkit-appearance none
    cursor pointer
    user-select none

    transition background-color .24s

    &_small
        min-width 42px
        padding-x 0
        height 40px

    &_flat
        background 0 0!important
        color #ddd
        transition opacity .24s

        &:hover
            opacity .6

    & + &
        margin-left 20px

    &:hover
        background-color #8f8f8f

    &_accent
        background-color $accent

        &:hover
            background-color #2d70bd
