html
    font-family sans-serif
    box-sizing border-box

lock-screen()
    overflow hidden
    size 100%
    position fixed
    -webkit-overflow-scrolling touch

html
body
    min-height 100%

body
    background-color #f5f6f7
    font-size 16px
    color $dark
    overflow-x hidden
    font-family $base-font-family, 'Helvetica Neue', Helvetica, Arial, sans-serif

    text-rendering optimizeLegibility
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

    // html.is-desktop &
    //     min-width 1000px

    //     @media (max-width: 1000px)
    //         overflow-x auto

    /.is-locked &
        lock-screen()

html.is-locked
    lock-screen()

.view
    position relative

img
video
    user-select none

input
textarea
select
button
    font-family inherit

a
    text-decoration none
    -webkit-text-decoration-skip object

sup
    font-size .5em
    vertical-align super

b
strong
    font-weight 700
