$mobile = 320px
$desktop = 1000px
$desktop-md = 1400px
$wide = 1600px

$base-font-size = 16px
$base-font-family = 'Lato'

$screens = {
    wide: $wide,
    desktop-md: $desktop-md,
    desktop: $desktop,
    mobile: $mobile
}

$dark = #343434
$accent = #358ef5
$gray-1 = #4a4a4a
$gray-2 = #8f8f8f
$red = #fe4936

$ease-out-quart = cubic-bezier(.165, .84, .44, 1)
$out-cubic = cubic-bezier(.22, .61, .36, 1)
$ease-out-cubic = cubic-bezier(.215, .610, .355, 1)
$in-out-cubic = cubic-bezier(.65, .05, .36, 1)
$ease-in-quart = cubic-bezier(.48, 0, .12, 1)
