<template>
    <Modal :heading="i18n('billing')">
        <div :class="$style.containter">
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('card_details') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.cardWrapper">
                        <span :class="$style.cardNumber">
                            <span :class="$style.cardNumberMask"> {{ cardNumber }}</span>
                        </span>
                    </div>
                    <button
                        v-show="cardStatusCanadd"
                        type="button"
                        class="ui-button"
                        @click="showstripe=!showstripe"
                    >{{ i18n('update') }}</button>
                    <BaseTooltip v-show="cardStatusNocard">{{ cardAddNofiy }}</BaseTooltip>
                    <BaseTooltip v-show="cardStatusCanadd">{{ cardChangeNotify }}</BaseTooltip>
                </div>
            </div>
            <div
                v-if="showstripe"
                :class="[$style.section, $style['section_no-stripe']]"
            >
                <CreditCard
                    :button-name="i18n('add')"
                    @updateCard="paymentSource"
                />
            </div>
            <div
                v-show="cardStatusCanadd"
                :class="$style.section"
            >
                <div :class="$style.heading">
                    <h3 @click="changetoselectplan({id:'plan_D79b0I8DnCtSDT'})">{{ i18n('current_plan') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.currentPlan">
                        <b>{{ planU.plan_hr_name }}</b>
                        <span> — ${{ planU.amount }} / {{ planU.billing_interval }} </span>
                        <span
                            v-show="trial"
                        > ( {{ i18n('count_free_days') }} <b> {{ getdiffDays }}</b> )
                        </span>
                    </div>
                    <BaseTooltip
                        v-show="trial"
                    >{{ i18n('tip_current_plan') }} {{ trial_end }}</BaseTooltip>
                </div>
            </div>
            <div
                v-show="cardStatusCanadd"
                :class="$style.section"
            >
                <div :class="$style.heading">
                    <h3>{{ i18n('discount_code') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.fieldInput">
                        <span>
                            <input
                                :class="[$style.input, { [$style.inputError]: couponError }]"
                                v-model="codeCoupon"
                                :placeholder="i18n('enter_code_here')"
                                type="text"
                            >
                        </span>
                        <button
                            v-show="cardStatusCanadd"
                            :class="['ui-button', {'ui-button_accent': codeCoupon}]"
                            type="button"
                            @click="InputCoupon"
                        >{{ i18n('activate') }}</button>
                    </div>
                    <BaseTooltip>{{ i18n('coupon_rules') }}</BaseTooltip>
                </div>
            </div>
            <div
                v-if="cardStatusCanadd"
                :class="$style.section"
            >
                <div :class="$style.heading">
                    <h3>{{ i18n('change_of_plan') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.planSelect">
                        <BaseSelect
                            :options="plans"
                            v-model="option"
                            :placeholder="i18n('select_plan')"
                            size="small"
                        >
                            <template
                                slot-scope="{ plan_hr_name, amount }"
                                slot="selected-option"
                            >
                                <b>{{ plan_hr_name }}</b> —${{ amount }}
                            </template>
                            <template
                                slot-scope="{ plan_hr_name, amount }"
                                slot="option"
                            >
                                <b>{{ plan_hr_name }}</b> —${{ amount }}
                            </template>
                        </BaseSelect>
                    </div>
                    <label
                        v-show="showTumbler"
                        :class="$style.switch"
                    >
                        <BaseSwitch :state="yearsState" @onChange="onYearsChange" />
                        <span :class="$style.switchLabel">{{ i18n('years_(+20%_discount)') }}</span>
                    </label>
                </div>
            </div>
            <div
                v-if="cardStatusCanadd"
                :class="$style.section"
            >
                <div :class="$style.heading">
                    <h3>{{ i18n('total_charge_info') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.info">
                        <p>{{ notification0 }}</p>
                        <p>{{ notification2 }}</p>
                        <p>{{ notification }}</p>
                        <p>{{ notification3 }}</p>
                        <p>{{ notificationstatic }}</p>
                        <p
                            v-show="trial"
                        >{{ notificationstatic2 }}</p>
                    </div>
                </div>
            </div>
        </div>
        <template slot="footer">
            <div :class="$style.footer">
                <button
                    type="button"
                    class="ui-button"
                    @click="close"
                >{{ i18n('cancel') }}</button>
                <button
                    v-show= "showSave"
                    type="button"
                    class="ui-button ui-button_accent"
                    @click="changetoselectplan(option)"
                >{{ i18n('save') }}</button>
            </div>
        </template>
    </Modal>
</template>

<script>
import { loadProgressBar } from 'axios-progress-bar';
import 'axios-progress-bar/dist/nprogress.css';
import Modal from '@/components/Modal';
import BaseSwitch from '@/components/BaseSwitch';
import BaseSelect from '@/components/BaseSelect';
import BaseTooltip from '@/components/BaseTooltip';
import axios from 'axios';
import store from '@/store';
import CreditCard from '@/components/Creditcard.vue';
import i18n from '@/utils/i18nQuery';
import i18nDictionary from '@/utils/i18nDictionary';
export default {
    components: {
        Modal,
        BaseSwitch,
        BaseSelect,
        BaseTooltip,
        CreditCard
    },

    data () {
        return {
            i18nDictionary,
            i18n,
            showstripe: false,
            showTumbler: false,
            each_amount: false,
            cardStatusNocard: false,
            cardStatusCanadd: false,
            cardAddNofiy: 'Add your credit card details here. You will not be charged until you choose a pricing plan.',
            cardChangeNotify: '',
            currentPlanId: null,
            billing: null,
            /* eslint camelcase: ["error", {properties: "never"}] */
            discount: null,
            plansObj: {},
            plans: [],
            planU: {},
            toplan: {},
            changetoplanid: null,
            comerssort: [
                'plan_ESlHThA2ht2zPT',
                'plan_ESlGeMypFY2zha',
                'plan_ESlblzhM48KHn4',
                'plan_ETQVu2R9Kfp7To',
                'plan_ETQLt3XvLUNCJT',
                'plan_ETQP1fJe9r6KPX',
                'plan_ETPs3sGoSZWAjO',
                'plan_ETPtkG17BNSEog',
                'plan_EUZv8bQVAzc5px',
                'plan_EUZwuGN7pUvBrp',
                'plan_EUZx03NQuX7LbR',
                'plan_EUZxa804wZwP2B',
                'plan_EUZyP07vF3phoE',
                'plan_EUZyBw9TI3zjcI',
                'plan_EUZzK7HE5U1f94',
                'plan_EUZzBa73U7suZk',
                'plan_EUZv8bQVAzc5px',
                'plan_EUZwuGN7pUvBrp',
                'plan_EUZx03NQuX7LbR',
                'plan_EUZxa804wZwP2B',
                'plan_EUZyP07vF3phoE',
                'plan_EUZyBw9TI3zjcI',
                'plan_EUZzK7HE5U1f94',
                'plan_EUZzBa73U7suZk'
            ],
            showSave: false,
            immediateCharge: 0,
            actual_amount: 0,
            notification: '',
            notification0: '',
            notification2: '',
            notification3: '',
            notificationstatic: '',
            notificationstatic2: '',
            card: null,
            brand: 'Add you',
            cardNumber: '',
            loading: true,
            errored: false,
            yearsState: false,
            fromRoute: null,
            option: null,
            cardError: '',
            planError: '',
            anyError: '',
            trial: '',
            trial_end: '',
            stampNotify: '',
            codeCoupon: '',
            couponError: false
        };
    },
    computed: {
        getdiffDays () {
            const now = new Date();
            const timeDiff = Math.abs(Date.parse(this.trial_end) - now);
            return Math.ceil(timeDiff / (1000 * 3600 * 24));
        }
    },
    watch: {
        currentPlanId () {
            const sortable = [];
            const myPlan = this.currentPlanId;
            this.planU = this.plansObj[myPlan];
            Reflect.deleteProperty(this.plansObj, myPlan);
            const otherPlans = this.plansObj;
            const sortrule = this.comerssort;
            let i = 0;
            for (i = 0; i < sortrule.length; i++) {
                const plan = sortrule[i];
                if (typeof otherPlans[plan] !== 'undefined') {
                    sortable[plan] = otherPlans[plan];
                    sortable[plan].id = plan;// bad practice
                }
            }
            this.plans = Object.keys(sortable).map((key) => sortable[key]);
        },
        option () {
            this.totalcharges(this.option);
        }
    },
    created () {
        loadProgressBar();
        this.paymentSource();
    },
    mounted () {
        this.planError = this.i18n('plan_error');
        this.cardError = this.i18n('card_error');
        this.cardChangeNotify = this.i18n('card_change_notify');
        this.brand = this.i18n('add_you');
        this.cardNumber = this.i18n('call_to_enter_card');
        this.cardAddNofiy = this.i18n('card_add_nofiy');
        this.stampNotify = this.i18n('stamp_notify');
        this.$bus.$on('errorcard', (stamp) => {
            this.notification = this.cardError;
            this.notificationstatic = this.anyError;
            this.notification2 = stamp;
            this.notification3 = this.stampNotify;
        });
    },

    methods: {
        onYearsChange (newState) {
            this.yearsState = newState;
        },
        getPlans () {
            axios
                .get('/api/plans')
                .then(response => {
                    this.plansObj = response.data;
                    if (this.$route.query.toplan) {
                        const option = response.data[this.$route.query.toplan];
                        option.id = this.$route.query.toplan;
                        this.option = option;
                    }
                    this.getbilling();
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => (this.loading = false));
        },
        getbilling () {
            axios
                .get(`/api/user/${store.getters['auth/userId']}/billing`)
                .then(response => {
                    this.currentPlanId = response.data.current_plan_id;
                    this.billing = response.data;
                    this.discount = response.data.discount;
                    this.trial = response.data.trial;
                    this.trial_end = response.data.trial_end;
                    if (this.discount !== null) {
                        if (this.discount.duration === 'once' && this.discount.percent_off !== 0) {
                            this.notification0 = `${ this.i18n('one-time_discount') } ${this.discount.percent_off}% ${this.i18n('off_your_next_purchase') }`;
                        }
                        if (this.discount.duration === 'once' && this.discount.amount_off !== 0) {
                            this.notification0 = `${ this.i18n('one-time_discount') } ${this.discount.amount_off}$  ${this.i18n('off_your_next_purchase') }`;
                        }
                        if (this.discount.duration === 'forever' && this.discount.percent_off !== 0) {
                            this.notification0 = `${ this.i18n('persistent_discount') }  ${this.discount.percent_off}% ${ this.i18n('off_all_your_next_purchases') }`;
                        }
                        if (this.discount.duration === 'forever' && this.discount.amount_off !== 0) {
                            this.notification0 = `${ this.i18n('persistent_discount') }  ${this.discount.amount_off}$ ${this.i18n('off_all_your_next_purchases') }`;
                        }
                        if (this.discount.duration === 'repeating' && this.discount.percent_off !== 0) {
                            this.notification0 = `${this.i18n('you_have_a_discount_of') } ${this.discount.percent_off}% ${ this.i18n('next_purchases') } ${this.discount.duration_in_months} months`;
                        }
                        if (this.discount.duration === 'repeating' && this.discount.amount_off !== 0) {
                            this.notification0 = `${this.i18n('you_have_a_discount_of') } ${this.discount.amount_off}% ${ this.i18n('next_purchases') } ${this.discount.duration_in_months} months`;
                        }
                    }
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => (this.loading = false));
        },
        totalcharges (plan) {
            if (plan !== null) {
                axios
                    .get(`/api/user/${store.getters['auth/userId']}/billing/switch_plan/${plan.id}`)
                    .then(response => {
                        this.showSave = true;
                        this.immediateCharge = response.data.immediate_charge;
                        this.actual_amount = response.data.new_plan_amount - response.data.persent_off / 100 * response.data.new_plan_amount;
                        if (this.discount !== null) {
                            if (this.discount.duration === 'forever') {
                                this.each_amount = this.actual_amount;
                            }
                            if (this.discount.duration === 'once') {
                                this.each_amount = response.data.new_plan_amount.split('.00')[0];
                            }
                        } else {
                            this.each_amount = this.each_amount = response.data.new_plan_amount.split('.00')[0];
                        }
                        console.log(this.immediateCharge);
                        if (this.immediateCharge < 0) {
                            this.notification = `${this.i18n('you_will_be_credited_with')} $${Math.abs(this.immediateCharge)} ${this.i18n('for_the_unspent_time.')}`;
                        }
                        this.notificationstatic2 = `${this.i18n('count_free_days')} ${ this.getdiffDays}.`;
                        this.notification2 = `${this.i18n('will_charge_you_for') } $${this.actual_amount}`;
                        this.notification3 = `${this.i18n('and')} ${this.i18n('by')} $${ this.each_amount } ${this.i18n('at_the_end_of_the_each_subscription') } ${this.i18n(plan.billing_interval)}.`;
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log('plan error');
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => (this.loading = false));
            }
        },

        changetoselectplan (changeplan) {
            axios
                .post(`/api/user/${store.getters['auth/userId']}/billing/switch_plan/${changeplan.id}`, { sourceid: 'data.source.id' })
                .then(response => {
                    console.log(response.data);
                    this.$router.go(-1);
                })
                .catch(error => {
                    console.log('switch_plan error');
                    console.log(error.response.data);
                    if (error.response.status === 500 && !('subcode' in error.response.data)) {
                        this.notification2 = error.response.data.debug.error_event_stamp;
                    }
                    this.notification = this.planError;
                    this.notificationstatic = this.anyError;
                    this.notification2 = error.response.data.reason.split('stamp: ')[1];
                    this.notification3 = this.stampNotify;
                    this.errored = true;
                    console.log(error);
                })
                .finally(() => (this.loading = false));
        },
        paymentSource () {
            axios
                .get(`/api/user/${store.getters['auth/userId']}/billing/payment_source`)
                .then(response => {
                    if (response.data.payment_source_present === false) {
                        this.cardStatusNocard = true;
                        this.cardStatusCanadd = false;
                        this.showstripe = true;
                    } else {
                        this.brand = response.data.brand;
                        this.cardNumber = response.data.card_number;
                        this.card = response.data;
                        this.showstripe = false;
                        this.cardStatusNocard = false;
                        this.cardStatusCanadd = true;
                        this.getPlans();
                    }
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => (this.loading = false));
        },
        close () {
            this.$router.push('/');
        },
        InputCoupon () {
            axios
                // eslint-disable-next-line
                .post(`/api/user/${ this.$store.getters['auth/userId']}/billing/subscription_apply_coupon`, { coupon_id: this.codeCoupon })
                .then(response => {
                    console.log(response);
                    this.codeCoupon = '';
                    this.option = null;
                    this.notification = '';
                    this.notificationstatic = '';
                    this.notification2 = '';
                    this.notification3 = '';
                    this.option = null;
                    this.couponError = false;
                    this.getbilling();
                })
                .catch(error => {
                    console.log(error);
                    // eslint-disable-next-line
                    alert(this.i18n('coupon_error'));
                    this.couponError = true;
                });
        }
    }
};
</script>

<style lang='stylus' module>
.footer
    display flex
    justify-content space-between

.progress
    width  300px

.section
    padding 20px 10px

    &:nth-of-type(odd)
        background-color #f8f8f8

    @media desktop-and-up
        min-height 80px
        padding 20px 110px
        display flex
        align-items center
        position relative

        &::before
            content ''
            position absolute
            left 267px
            border-left 2px solid #fff
            height 100%
    &_no-stripe
        &::before
            display none

.planSelect
    width 240px
    margin-bottom 30px

    @media desktop-and-up
        margin-bottom 0
        margin-right 35px
        padding-left 27px

.heading
    margin-bottom 20px

    & > h3
        font-size 13px
        font-weight 700
        color $accent

        @media desktop-and-up
            font-size 15px
            color #707070

    @media desktop-and-up
        width 140px
        margin-bottom 0

.row
    flex 1 1 auto

    @media desktop-and-up
        display flex
        align-items center
        padding-left 30px

.cardWrapper
    display flex
    align-items center
    margin-bottom 17px

    @media desktop-and-up
        margin-bottom 0
        padding-left 25px
        padding-right 35px
.currentPlan
    @media desktop-and-up
        padding-left 25px
.fieldInput
    @media desktop-and-up
        padding-left 26px
.fieldInput>span>input
    font-size 1rem
    padding-left: 0.5rem;
    @media desktop-and-up
        width 127px
        margin-right 41px
.tip
    font-size 12px
    padding-left 6px
    width 47%
    color #8f8f8f
    font-style italic

    @media desktop-and-up
        margin-left auto

.cardNumber
    margin-right 25px
    padding-right 6px

.cardNumberMask
    vertical-align text-top
    opacity:1
    animation-name: fade
    animation-duration: 5s

$keyframe-name = fade
@keyframes {$keyframe-name}
    for i in 0..10
        {10% * i}
            opacity (i/10)
.info
    font-size 14px
    line-height 1.5
    padding-left 8px
    @media desktop-and-up
        padding-left 0
        width 100%

.switch
    display flex
    align-items center

.switchLabel
    color #222
    font-size 14px
    margin-left 8px
    line-height 1

input
	box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)
	color #bababa
    font-weight 300
	height 40px
	line-height @height
	border 0
	outline 0
	margin-bottom 8px
	@media desktop-and-up
		padding-left 8px
		font-weight 400
		font-size 16px
		line-height @height
		box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)

	&::placeholder
		color #bababa

.inputError
    border 1px solid red
</style>
