<template>
    <Modal :heading="i18n('watch_the_tutorial_video')">
        <div :class="$style.containter">
            <div :class="$style.videoWrapper">
                <youtube
                    :video-id="videoId"
                    :player-vars="playerVars"
                    @playing="playing"
                    @ended="ended"
                />
            </div>
        </div>
        <template slot="footer">
            <div :class="$style.footer">
                <button
                    type="button"
                    class="ui-button"
                    @click="close"
                >{{ i18n('cancel') }}</button>
                <button
                    v-show="existUser"
                    type="button"
                    class="ui-button ui-button_accent"
                    @click="close"
                >{{ i18n('done') }}</button>
            </div>
        </template>
    </Modal>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import Modal from '@/components/Modal';
import VueYoutube from 'vue-youtube';
import { mapGetters } from 'vuex';

export default {
    components: {
        Modal,
        VueYoutube
    },
    data () {
        return {
            i18nDictionary,
            i18n,
            videoId: 'APoEBNSn1HY',
            playerVars: {
                autoplay: 1
            }
        };
    },
    computed: {
        ...mapGetters({
            existUser: 'auth/exist'
        })
    },
    methods: {
        close () {
            if (this.existUser === true) {
                this.$router.go(-1);
            }
        },
        playing () {
        },
        ended () {
            this.close();
        }
    }
};
</script>

<style lang='stylus' module>
.footer
    display flex
    justify-content space-between

.progress
    width  300px

.section
    padding 20px 10px

    &:nth-of-type(odd)
        background-color #f8f8f8

    @media desktop-and-up
        min-height 80px
        padding 20px 110px
        display flex
        align-items center
        position relative

        &::before
            content ''
            position absolute
            left 250px
            border-left 2px solid #fff
            height 100%

.heading
    margin-bottom 20px

    & > h3
        font-size 13px
        font-weight 700
        color $accent

        @media desktop-and-up
            font-size 15px
            color #707070

    @media desktop-and-up
        width 140px
        margin-bottom 0

.row
    flex 1 1 auto

    @media desktop-and-up
        display flex
        align-items center
        padding-left 30px

.videoWrapper
	position relative
	padding-bottom 56.25%
	padding-top 25px
	height 0

.videoWrapper iframe
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.info
    font-size 14px
    line-height 1.5

    p + p
        margin-top 15px

</style>
