<template>
    <div class="ui-page">

        <Header />
        <div class="ui-container">
            <UserCheckList />
        </div>
        <div class="ui-container">
            <Accounts />
        </div>
        <ModalView />
    </div>
</template>

<script>
import { loadProgressBar } from 'axios-progress-bar';
import 'axios-progress-bar/dist/nprogress.css';
import UserCheckList from '@/components/UserCheckList';
import ModalView from '@/components/ModalView';
import Header from '@/components/Header';
import Accounts from '@/components/Accounts';
export default {
    name: 'Home',

    components: {
        UserCheckList,
        Accounts,
        ModalView,
        Header
    },
    created () {
        loadProgressBar();
    }
};
</script>
