<template>
    <div :class="$style.container">
        <div v-if="!isLoading" :class="$style.authWrapper">
            <h1 :class="$style.title">{{ i18n('sign_in_to_continue') }}</h1>
            <BaseCheckbox
                v-model="agreementTerms"
            >
                <p :class="$style.terms">{{ i18n('agreement') }}
                    <a href="https://leadza.ai/terms-of-use"> {{ i18n('terms_of_use') }}</a>
                </p>
            </BaseCheckbox>
            <BaseCheckbox
                v-model="agreementPolicty"
            >
                <p :class="$style.terms">{{ i18n('agreement') }}
                    <a href="https://leadza.ai/privacy-policy">{{ i18n('privacy_policy') }}</a>.
                </p>
            </BaseCheckbox>
            <a
                :class="[ $style['fbButton'], { [$style['fbButtonDisabled']]: !fullagreement }]"
                type="button"
                @click="login"
            >
                <FbIcon />
                {{ i18n('sign_in_with_facebook') }}
            </a>
        </div>
        <div v-if="isLoading" :class="$style.loadingWrapper">
            <div :class="$style.preloader">
                <Preloader />
            </div>
        </div>
    </div>
</template>

<script>
import Preloader from '@/components/Preloader';
import FbIcon from '@svg/fb.svg?inline';
import { mapGetters } from 'vuex';
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import BaseCheckbox from '@/components/BaseCheckbox';
export default {
    components: {
        Preloader,
        BaseCheckbox,
        FbIcon
    },
    data () {
        return {
            i18nDictionary,
            agreementTerms: false,
            agreementPolicty: false,
            i18n
        };
    },
    computed: {
        ...mapGetters({
            isLoading: 'auth/loggedIn'
        }),
        fullagreement () {
            return this.agreementTerms && this.agreementPolicty;
        }
    },

    methods: {
        login () {
            this.FB.login((response) => {
                if (response.authResponse) {
                    console.log('fb connect done');
                }
                // eslint-disable-next-line
            }, { scope: 'email,ads_read,ads_management,manage_pages', auth_type: 'rerequest' });
        }
    }
};
</script>

<style lang='stylus' module>
.container
    min-height 100vh
    display flex
    justify-content center
    align-items center
    background-color #f5f6f7

.title
    font-size 26px
    color #bababa
    margin-bottom 20px
    font-weight 300

.fbButton
    clear-button-defaults()
    color:#fff
    background-color #4b67a3
    display block
    border-radius 4px
    text-align center
    height 45px
.fbButtonDisabled
    background-color #ccc
    pointer-events: none;
.terms
    font-size 14px
    padding 14px
    font-size 14px
    line-height 1.5

    a
        color $accent
        transition color .24s

        &:hover
            color #2d70bd

.preloader
    size 200px
    margin-bottom 40px
</style>
