<template>
    <div
        :class="{ 'is-apple': isApple }"
        class="ui-page browser-support"
    >
        <h1 class="browser-support__title">Для просмотра сайта установите актуальную версию  браузера</h1>
        <div class="browser-list">
            <a
                href="https://www.google.com/chrome/"
                target="_blank"
                rel="noopener nofollow noindex"
                class="browser-list__item browser-list__item--chrome"
            >
                <div class="browser-list__icon">
                    <img src="@/assets/images/browsers/chrome-icon.svg" alt="chrome">
                </div>
                <h4>Google Chrome</h4>
            </a>
            <a
                href="https://support.apple.com/downloads/safari"
                target="_blank"
                rel="noopener nofollow noindex"
                class="browser-list__item browser-list__item--safari"
            >
                <div class="browser-list__icon">
                    <img src="@/assets/images/browsers/safari-icon.svg" alt="safari">
                </div>
                <h4>Safari</h4>
            </a>
            <a
                href="https://www.microsoft.com/en-us/windows/microsoft-edge"
                target="_blank"
                rel="noopener nofollow noindex"
                class="browser-list__item browser-list__item--ie"
            >
                <div class="browser-list__icon">
                    <img src="@/assets/images/browsers/ie-icon.svg" alt="ie">
                </div>
                <h4>Microsoft Edge</h4>
            </a>
            <a
                href="https://www.mozilla.org/en-US/firefox/"
                target="_blank"
                rel="noopener nofollow noindex"
                class="browser-list__item"
            >
                <div class="browser-list__icon">
                    <img src="@/assets/images/browsers/ff-icon.svg" alt="firefox">
                </div>
                <h4>Firefox</h4>
            </a>
            <a
                href="https://www.opera.com"
                target="_blank"
                rel="noopener nofollow noindex"
                class="browser-list__item"
            >
                <div class="browser-list__icon">
                    <img src="@/assets/images/browsers/opera-icon.svg" alt="opera">
                </div>
                <h4>Opera</h4>
            </a>
        </div>
    </div>
</template>

<script>
import browserSupport from '@/utils/browser-support';
const { isMac, iOS } = browserSupport;

export default {
    data () {
        return { isApple: isMac || iOS };
    }
};
</script>

<style lang="stylus">
.browser-support
    padding-x 15px
    min-height 100vh
    display flex
    justify-content center
    align-items center
    flex-direction column

    &__title
        font-size 24px
        text-align center
        margin-bottom 70px
        max-width 530px
        line-height 1.4

        @media desktop-and-up
            font-size 36px
            font-weight 100
            line-height 1.3
            margin-bottom 50px

.browser-list
    @media desktop-and-up
        display flex
        justify-content center

    &__icon
        size 64px
        margin-x auto
        margin-bottom 25px

    &__item
        display none
        text-align center

        img
            max-width 100%

        h4
            font-size 13px
            color #000
            font-weight 700

        /.browser-support.is-apple
            & ^[-1]--safari
                display block

            @media desktop-and-up
                & ^[-1]--ie
                    display none

        /.browser-support:not(.is-apple)
            & ^[-1]--chrome
                display block

            @media desktop-and-up
                & ^[-1]--safari
                    display none

        @media desktop-and-up
            display block

            &:not(:last-child)
                margin-right 66px

</style>

