<template>
    <Modal :heading="i18n('optimization')">
        <div :class="$style.container">
            <form>
                <fieldset :class="$style.entryFieldset">
                    <div :class="$style.field">
                        <div :class="$style.fieldInput">
                            <input
                                :class="$style.input"
                                v-model="name"
                                :placeholder="i18n('name')"
                                type="text"
                            >
                        </div>
                        <BaseTooltip>{{ i18n('tip_name') }}</BaseTooltip>
                    </div>
                    <div :class="$style.field">
                        <div :class="$style.fieldInput">
                            <BaseSelect
                                :options="types"
                                :placeholder="TypePlaceholder"
                                :disabled="editor"
                                v-model="selectedType"
                                @input="visibleConf"
                            >
                                <template
                                    slot-scope="{ label, value }"
                                    slot="selected-option"
                                >{{ i18n(value) }}
                                </template>
                                <template
                                    slot-scope="{ label, value }"
                                    slot="option"
                                >{{ i18n(value) }}
                                </template>
                            </BaseSelect>
                        </div>
                        <BaseTooltip>{{ tip_type }}</BaseTooltip>
                    </div>
                    <div :class="$style.field">
                        <div :class="$style.fieldInput">
                            <BaseSelect
                                :options="accounts"
                                :placeholder="AccPlaceholder"
                                :disabled="editor"
                                v-model="selectedAccount"
                                @input="onAccountChanged"
                            />
                        </div>
                        <BaseTooltip>{{ i18n('tip_account') }}</BaseTooltip>
                    </div>
                    <div
                        v-if="showman.showPages"
                        :class="$style.field"
                    >
                        <div :class="$style.fieldInput">
                            <BaseSelect
                                v-model="selectedPage"
                                :options="pagesAvalible"
                                :placeholder="i18n('page')"
                                :disabled="editor"
                            />
                        </div>
                        <BaseTooltip>{{ i18n('tip_page') }}</BaseTooltip>
                    </div>
                    <div
                        v-if="!showman.showPages"
                        :class="$style.field"
                    >
                        <div :class="$style.fieldInput">
                            <BaseMultipleSelect
                                :placeholder="i18n('choose_campaigns')"
                                :search-placeholder="i18n('search_campaigns')"
                                :select-all-placeholder="i18n('select_all')"
                                :head-title="i18n('choose_campaigns')"
                                :list="getCampaignsListForFilter"
                                :info-prefix="i18n('used_in') + ': '"
                                @change="changeOpimizationGoals"
                                @empty="campaignsEmpty"
                            />
                        </div>
                        <BaseTooltip>{{ i18n('tip_campaign') }}</BaseTooltip>
                    </div>
                </fieldset>
                <fieldset :class="$style.mainFieldset">
                    <div
                        v-show="showman.showLevel"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('level') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_level') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="level.value"
                                    :native-value="'campaign'"
                                    :label="i18n('campaign')"
                                    :disabled="isCBO"
                                />
                            </div>
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="level.value"
                                    :native-value="'account'"
                                    :label="i18n('account')"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showgoal"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('optimization_goal') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_optimization_goal') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <BaseSelect
                                    v-model="selectedGoal"
                                    :disabled="isdisabled.showgoal"
                                    :options="optimizationGoals"
                                    size="small"
                                    @input="onGoalChanged"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showpostsMaxAgeMonths"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('posts_max_age_months') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_posts_max_age_months') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <div :class="$style.radioSelect">
                                    <BaseSelect
                                        v-model="checkedPostsMaxAgeMonths"
                                        :options="postsMaxAgeMonths"
                                        :selected-option="postsMaxAgeMonths[0]"
                                        size="small"
                                        @input="onMounthsGoalChanged"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showset"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('analyze_ad_sets') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_analyze_ad_sets') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="analyze"
                                    :native-value="'active'"
                                    :label="i18n('active')"
                                />
                            </div>
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="analyze"
                                    :native-value="'all'"
                                    :label="i18n('all')"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showIncrease"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('increase_budget') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_increase_budget') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.budgetLabel">
                                    <input
                                        :class="[$style.budgetInput,{[$style.inputError] :increaseC < 1 || increaseC > 20}]"
                                        v-model.number="increaseC"
                                        type="tel"
                                        @keypress="onInputKeypress"
                                    >
                                    <span>%</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showNumberPosts"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('number_of_posts_promoted_at_once') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_numberPosts') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.budgetLabel">
                                    <input
                                        :class="$style.budgetInput"
                                        v-model.number="numberPosts"
                                        type="tel"
                                        @keypress="onInputKeypress"
                                    >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showAllocate"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('allocate_budget') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_allocate_budget') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="allocateBudget"
                                    :native-value="true"
                                    :label="i18n('yes')"
                                />
                            </div>
                            <div :class="$style.column">
                                <BaseRadioButton
                                    v-model="allocateBudget"
                                    :native-value="false"
                                    :label="i18n('no')"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showAudiencesToTarget"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('audiences_to_target') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_audiences_to_target') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.switch">
                                    <span :class="$style.switchLabel"> {{ i18n('new_prospecting_audiences') }}</span>
                                    <BaseSwitch :state="!NewProspectingAudiences" @onChange="onNewProspectingAudiencesChange" />
                                </label>
                            </div>
                            <div :class="$style.column">
                                <label :class="$style.switch">
                                    <span :class="$style.switchLabel"> {{ i18n('page_fans_and_their_friends') }}</span>
                                    <BaseSwitch :state="!PageFansAndTheirFriends" @onChange="onPageFansAndTheirFriendsChange" />
                                </label>
                            </div>
                            <div :class="$style.column">
                                <BaseMultipleSelect
                                    :placeholder="i18n('choose_audience')"
                                    :search-placeholder="i18n('search_audience')"
                                    :select-all-placeholder="i18n('select_all')"
                                    :head-title="i18n('choose_campaigns')"
                                    :list="CustomAudiences"
                                    @change="changeCustomAudiences"
                                />
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showTargetCountry"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('country') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_country') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <BaseSelect
                                    v-model="selectedTargetCountry"
                                    :options="avalibleTargetCountry"
                                    size="small"
                                />
                            </div>
                        </div>
                    </div>
                    <div v-show="showman.showNumberOfNewAdsets" :class="$style.section">
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('number_of_new_adsets') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_number_of_new_adsets') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.budgetLabel">
                                    <input
                                        :class="$style.budgetInput"
                                        v-model.number="newAdsetsNum"
                                        type="tel"
                                        @keypress="onInputKeypress"
                                    >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div v-show="showman.showTurnoffParent" :class="$style.section">
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('turn_off_parent') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_turn_off_parent') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.switch">
                                    <BaseSwitch :state="TurnoffParent" @onChange="onTurnoffParent" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div v-show="showman.showDailyBudget" :class="$style.section">
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('daily_budget_per_each_ad_set') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_adset_daily_budget') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.budgetLabel">
                                    <input
                                        :class="$style.budgetInput"
                                        v-model.number="dailyBudget"
                                        type="tel"
                                        @keypress="onInputKeypress"
                                    >
                                </label>
                                <span>$</span>
                            </div>
                        </div>
                    </div>
                    <div v-show="showman.showCountDays" :class="$style.section">
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('days') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_days') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.budgetLabel">
                                    <input
                                        :class="$style.budgetInput"
                                        v-model.number="countDays"
                                        type="tel"
                                        @keypress="onInputKeypress"
                                    >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showAdSetGrading"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span> {{ i18n('ad_set_grading') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_ad_set_grading') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <label :class="$style.switch">
                                    <BaseSwitch :state="AdSetGrading" @onChange="onNewAdSetGradingChange" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div
                        v-show="showman.showNumberOfAdSets"
                        :class="$style.section"
                    >
                        <div :class="$style.heading">
                            <h3>
                                <span>{{ i18n('number_of_ad_sets') }}</span>
                                <div :class="$style.headingTooltip">
                                    <BaseTooltip>{{ i18n('tip_number_of_ad_sets') }}</BaseTooltip>
                                </div>
                            </h3>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.column">
                                <div>
                                    <input
                                        :class="$style.budgetInput"
                                        :placeholder="i18n('all')"
                                        v-model="InputNumberOfAdSets"
                                        type="tel"
                                        size="small"
                                        @keypress="onInputKeypress"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <template slot="footer">
            <div :class="$style.footer">
                <section :class="$style.footerSection">
                    <button
                        type="button"
                        class="ui-button"
                        @click="close"
                    >{{ i18n('cancel') }}</button>
                </section>
                <section :class="$style.footerSection">
                    <button
                        v-show="false"
                        :class="$style.footerControl"
                        type="button"
                    >
                        <span :class="$style.controlIcon">
                            <WriteIcon />
                        </span>
                    </button>
                    <button
                        v-show="!editor"
                        :class="{'ui-button_accent': form.valid}"
                        type="button"
                        class="ui-button"
                        @click="publisher"
                    >{{ i18n('save') }}</button>
                    <button
                        v-show="editor"
                        :class="{'ui-button_accent': form.valid}"
                        type="button"
                        class="ui-button"
                        @click="edit"
                    >{{ i18n('save') }}</button>

                </section>
            </div>
        </template>
    </Modal>
</template>

<script>
import avalibleTargetCountry from '@/isoNames';
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import types from '@/TypeNames';
import typesDict from '@/TypeNamesObj';
import Modal from '@/components/Modal';
import BaseTooltip from '@/components/BaseTooltip';
import BaseDropdown from '@/components/BaseDropdown';
import BaseMultipleSelect from '@/components/BaseMultipleSelect';
import BaseSelect from '@/components/BaseSelect';
import BaseRadioButton from '@/components/BaseRadioButton';
import BaseSwitch from '@/components/BaseSwitch';
import WriteIcon from '@svg/write.svg?inline';
import BaseCheckbox from '@/components/BaseCheckbox';
import axios from 'axios';
import Vue from 'vue';
export default {
    components: {
        Modal,
        BaseDropdown,
        BaseMultipleSelect,
        BaseSelect,
        BaseTooltip,
        BaseRadioButton,
        BaseSwitch,
        WriteIcon,
        BaseCheckbox
    },
    data () {
        return {
            allTags: [],
            activeTags: [],
            colors: [],
            i18nDictionary,
            i18n,
            id: null,
            editor: false,
            form: {
                valid: false,
                state: {
                    name: false,
                    type: false,
                    account: false,
                    campaign: false,
                    page: false
                }
            },
            name: '',
            level: { value: 'account', label: 'Account' },
            InputNumberOfAdSets: null,
            analyze: 'active',
            allocateBudget: true,
            facebookgoal: { value: null, label: 'Facebook optimization goal' },
            selectedGoal: { value: null },
            goal: { value: null, label: 'Facebook optimization goal' },
            goalCustom: '',
            increase: 11,
            numberPosts: 3,
            dailyBudget: 20,
            newAdsetsNum: 4,
            countDays: 7,
            countAllGoodPerforming: 18,
            goalOptions: [
                'Link Clicks',
                'Add to Сarts',
                'Purchases',
                'ROAS'
            ],
            CustomAudiences: [],
            selectedCustomAudiences: [],
            optimizationGoals: [],
            isgetOptlist: false,
            checkedPostsMaxAgeMonths: {},
            NewProspectingAudiences: true,
            AdSetGrading: true,
            TurnoffParent: true,
            PageFansAndTheirFriends: false,
            selectedTargetCountry: { value: 'US', label: 'United States' },
            avalibleTargetCountry,
            types,
            typesDict,
            isdisabled: {
                showgoal: false
            },
            showman: {
                showCampagin: false,
                showCampaginTags: false,
                showPages: false,
                showLevel: false,
                showgoal: false,
                showset: false,
                showIncrease: false,
                showNumberPosts: false,
                showCountDays: false,
                showDailyBudget: false,
                showNumberOfNewAdsets: false,
                showTurnoffParent: false,
                showAllocate: false,
                showpostsMaxAgeMonths: false,
                showAudiencesToTarget: false,
                showTargetCountry: false,
                showNumberOfAdSets: false,
                showAdSetGrading: false,
                showCustomAudience: false
            },
            accounts: [],
            pagesAvalible: [],
            AccId: null,
            selectedAccount: null,
            selectedPage: null,
            selectedType: null,
            campaign_ids: [],
            avalibleCampaigns: [],
            selectedCampaigns: [],
            avalibleCampaignsLength: null,
            placeholderCampaigns: 'Campaigns filter',
            placeholderCustomAudiences: '',
            postsMaxAgeMonths: []
        };
    },

    computed: {
        isCBO () {
            const isCBOcompany = this.avalibleCampaigns.some(company => company.CBO === true);
            return isCBOcompany;
        },
        TypePlaceholder () {
            return this.i18n('type');
        },
        AccPlaceholder () {
            return this.i18n('ad_account') || this.selectedAccount.value;
        },
        tip_type () {
            let typeTips = 'tip_type';
            if (this.selectedType !== null) {
                typeTips = `tip_${this.selectedType.value}`;
            }
            return this.i18n(typeTips);
        },
        getCampaignsListForFilter: {
            get () {
                return this.avalibleCampaigns.map(el => {
                    const id = el.value;

                    return new Vue({
                        data: {
                            label: el.label,
                            id,
                            selected: this.campaign_ids.some(item => id === item),
                            comparative: el.comparative,
                            showInfo: el.used
                        }
                    });
                });
            }
        },
        getplaceholderCustomAudiences: {
            get () {
                const avalibleCustomAudiencesLength = this.CustomAudiences.length;
                let selectedCustomAudiencesLength = 0;
                if (this.selectedCustomAudiences.length !== 0) {
                    selectedCustomAudiencesLength = this.selectedCustomAudiences.length;
                }

                const placeholder = `${this.placeholderCustomAudiences} ${selectedCustomAudiencesLength}/${avalibleCustomAudiencesLength}`;
                return placeholder;
            }
        },
        increaseC: {
            get () {
                return this.increase;
            },
            set (value) {
                let procent = value;
                if (procent > 20) {
                    procent = 20;
                }
                this.increase = procent;
            }
        },
        ApiData: {
            get () {
                const postData = {
                    campaigns: this.campaign_ids,
                    user: this.$store.getters['auth/userId'],
                    tipconfig_type: this.selectedType.value,
                    id: this.id,
                    name: this.name,
                    custom_audiences: this.selectedCustomAudiences,
                    optimization_goal: this.goal.value,
                    optimization_goal_name: this.goal.label,
                    adset_daily_budget: this.dailyBudget,
                    analyze_ad_sets: this.analyze,
                    turn_off_parent: this.TurnoffParent,
                    level: this.level.value,
                    allocate_budget: this.allocateBudget,
                    increase_budget: this.increaseC,
                    number_of_ad_sets: this.InputNumberOfAdSets,
                    number_of_posts: this.numberPosts,
                    number_of_new_adsets: this.newAdsetsNum,
                    days: this.countDays,
                    use_interest_based_targeting: this.NewProspectingAudiences,
                    use_connections_targeting: this.PageFansAndTheirFriends,
                    ad_set_grading: this.AdSetGrading
                };
                if (this.selectedAccount === null) {
                    postData.account = this.AccId;
                } else {
                    postData.account = this.selectedAccount.value;
                }
                if (this.selectedPage) {
                    postData.page = this.selectedPage.value;
                } else {
                    postData.page = null;
                }
                if (this.selectedTargetCountry) {
                    postData.country = this.selectedTargetCountry.value;
                }

                if (this.checkedPostsMaxAgeMonths) {
                    postData.posts_max_age_months = this.checkedPostsMaxAgeMonths.value;
                }
                return postData;
            }
        }
    },

    watch: {
        selectedAccount (val) {
            this.form.state.account = val !== null;
            Reflect.deleteProperty(this.form.state, 'page');
            this.formValidate();
        },
        selectedType (val) {
            this.form.state.type = val !== null;
            this.formValidate();
        },
        name (val) {
            this.form.state.name = val !== '';
            this.formValidate();
        },
        selectedPage (val) {
            if (typeof val !== 'undefined') {
                this.form.state.page = val.value !== null;
                Reflect.deleteProperty(this.form.state, 'campaign');
                this.formValidate();
            }
        }
    },

    created () {
        this.getAccounts();
    },
    mounted () {
        this.placeholderCustomAudiences = this.i18n('custom');
        this.postsMaxAgeMonths = this.i18n('postsMaxAgeMonths');
        this.selectedGoal = { value: null, label: this.i18n('facebook_optimization_goal') };
        this.$on('input', msg => {
            console.log('caught in parent', msg);
        });
    },
    methods: {
        onGoalChanged (newState) {
            this.goal = newState;
        },
        onMounthsGoalChanged (newState) {
            console.log(newState);
            this.checkedPostsMaxAgeMonths = newState;
        },
        onNewProspectingAudiencesChange (newState) {
            this.NewProspectingAudiences = !newState;
        },
        onPageFansAndTheirFriendsChange (newState) {
            this.PageFansAndTheirFriends = !newState;
        },
        onNewAdSetGradingChange (newState) {
            this.AdSetGrading = newState;
        },
        onTurnoffParent (newState) {
            this.TurnoffParent = newState;
        },
        close () {
            this.$router.push('/');
        },
        campaignsEmpty (val) {
            this.form.state.campaign = !val;
            this.formValidate();
        },
        formValidate () {
            const valid = !Object.values(this.form.state).some(el => el === false);
            // eslint-disable-next-line
            //this.editor ? this.form.valid = true : 
            this.form.valid = valid;
        },

        onInputKeypress (e) {
            const evt = (e) ? e : window.event;
            const charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                return false;
            }

            return true;
        },

        getAccounts () {
            axios
                .get(`/api/user/${ this.$store.getters['auth/userId']}/settings`)
                .then(response => {
                    if (this.$route.query.id) {
                        this.id = this.$route.query.id;
                        this.editor = true;
                        this.LoadTioconfigSet();
                    }
                    let accountsObj = response.data.accounts_and_campaigns.accounts;
                    const pagesObj = response.data.managed_pages;
                    for (let i = 0; i < pagesObj.length; i++) {
                        const optionsPage = {
                            label: pagesObj[i].page_name,
                            value: pagesObj[i].page_id
                        };
                        this.pagesAvalible.push(optionsPage);
                    }
                    accountsObj = accountsObj.filter(accs => accs.enabled);
                    for (let k = 0; k < accountsObj.length; k++) {
                        const optionsAccaunt = {
                            label: accountsObj[k].name,
                            value: accountsObj[k].id,
                            enabled: accountsObj[k].enabled
                        };
                        this.accounts.push(optionsAccaunt);
                    }
                })
                .catch(error => {
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        tipconfigTypeAvailability (type, forAccountId) {
            if (type === 'pab') {
                axios
                    .get(`/api/tipconfig_meta/pages/tipconfig_type_availability?tipconfig_type=${type}&account_id=${ forAccountId }&user_id=${this.$store.getters['auth/userId']}`)
                    .then(response => {
                        const pagesObj = response.data.available_pages;
                        this.pagesAvalible = [];
                        for (let i = 0; i < pagesObj.length; i++) {
                            const optionsPages = {
                                label: pagesObj[i].page_name,
                                value: pagesObj[i].page_id
                            };
                            this.pagesAvalible.push(optionsPages);
                        }
                        this.showman.showPages = true;
                    })
                    .catch(error => {
                        if (error.response.status === 400) {
                            console.log(error.response.data.reason);
                        }
                        return true;
                    });
            }
            if (type !== 'pab') {
                axios
                    .get(`/api/tipconfig_meta/campaigns/tipconfig_type_availability?tipconfig_type=${type}&account_id=${ forAccountId }`)
                    .then(response => {
                        /* eslint camelcase: [2, {properties: "never"}] */
                        response.data.available_campaigns.forEach((el) => {
                            this.avalibleCampaigns.push({
                                label: el.campaign_name,
                                value: Number.parseInt(el.campaign_id, 10),
                                comparative: Number.parseFloat(el.spend),
                                used: el.already_used ? el.used_in : false,
                                CBO: el.cbo_budget
                            });
                        });

                        //  this.avalibleCampaigns = []; // debug - swich type not redraw avalible campigins
                        this.showman.showCampagin = this.avalibleCampaigns.length > 0;
                    })
                    .catch(error => {
                        if (error.response.status === 400) {
                            console.log(error.response.data.reason);
                        }
                        return true;
                    });
            }
        },

        visibleConf () {
            if (!this.editor) {
                this.selectedAccount = null;
                this.selectedPage = null;
            }
            const keys = Object.keys(this.showman);
            for (let i = 0; i < keys.length; i++) {
                const key = keys[i];
                this.showman[key] = false;
            }
            if (this.selectedType.value === 'pab') {
                this.showman.showgoal = false;
                this.showman.showCampagin = false;
                this.showman.showPages = true;
                this.showman.showLevel = true;
                this.showman.showset = false;
                this.showman.showIncrease = false;
                this.showman.showNumberPosts = true;
                this.showman.showCountDays = true;
                this.showman.showDailyBudget = true;
                this.showman.showAllocate = false;
                this.showman.showpostsMaxAgeMonths = true;
                this.showman.showAudiencesToTarget = true;
                this.showman.showTargetCountry = true;
            }
            if (this.selectedType.value === 'lal') {
                this.showman.showgoal = true;
                this.showman.showTargetCountry = true;
                this.showman.showset = true;
                this.showman.showCustomAudience = true;
                this.showman.showNumberOfNewAdsets = true;
                this.showman.showDailyBudget = true;
            }
            if (this.selectedType.value === 'bt') {
                this.showman.showgoal = false;
                this.showman.showNumberOfAdSets = true;
                this.showman.showDailyBudget = true;
                this.showman.showAdSetGrading = true;
            }
            if (this.selectedType.value === 'narrow_interests' || this.selectedType.value === 'narrow_age_gender' || this.selectedType.value === 'narrow_placement') {
                this.showman.showgoal = true;
                this.showman.showTurnoffParent = true;
            }
            if (this.selectedType.value === 'narrow_age_gender' || this.selectedType.value === 'narrow_placement') {
                this.showman.showgoal = true;
                this.showman.showTurnoffParent = true;
                this.showman.showset = true;
            }
            if (this.selectedType.value === 'budget_allocation') {
                this.showman.showgoal = true;
                this.showman.showLevel = true;
                this.showman.showset = true;
                this.showman.showIncrease = true;
                this.showman.showAllocate = true;
                this.showman.showNumberPosts = false;
            } else {
                this.showman.showLevel = false;
                this.showman.showIncrease = false;
                this.showman.showAllocate = false;
                this.form.state.page = true;
            }
        },
        changeCustomAudiences (changed) {
            if (changed.selected && !this.selectedCustomAudiences.includes(changed.id)) {
                this.selectedCustomAudiences.push(changed.id);
            }
            if (!changed.selected && this.selectedCustomAudiences.includes(changed.id)) {
                this.selectedCustomAudiences.splice(this.selectedCustomAudiences.indexOf(changed.id), 1);
            }
            if (changed.lenght === this.CustomAudiences.lenght) {
                this.selectedCustomAudiences = changed.map(audi => audi.id);
            }
        },
        changeOpimizationGoals (changed) {
            function isEmpty (obj) {
                for (const key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        return false;
                    }
                }
                return true;
            }
            if (isEmpty(changed)) {
                console.log(changed);
            } else {
                this.getoptimizationGoals(changed);
            }
        },
        getoptimizationGoals (changed) {
            let changedLocal = changed;
            if (typeof changedLocal === 'undefined') {
                changedLocal = { id: 0 };
            }
            const account = this.editor ? this.AccId : this.selectedAccount.value;
            this.optimizationGoals = [];
            if (Array.isArray(changedLocal)) {
                Reflect.apply(Array.prototype.push, this.campaign_ids, changedLocal.map(el => el.id));
            } else {
                const inArray = this.campaign_ids.findIndex(el => changedLocal.id === el);

                if (!changedLocal.selected && inArray !== -1) {
                    this.campaign_ids.splice(inArray, 1);
                }

                if (changedLocal.selected && inArray === -1) {
                    this.campaign_ids.push(changedLocal.id);
                }
            }

            axios
                .get(`/api/tipconfig_meta/campaigns/optimization_goals?campaign_ids=${this.campaign_ids}&account_id=${account}`)
                .then(response => {
                    if (this.selectedType.value !== 'bt') {
                        this.isdisabled.showgoal = false;
                        this.showman.showgoal = true;
                    }
                    this.isdisabled.showgoal = response.data.optimization_goals.length === 0;
                    this.selectedGoal = { value: null, label: this.i18n('facebook_optimization_goal') };

                    response.data.optimization_goals.forEach(el => {
                        this.optimizationGoals.push({
                            label: el.optimization_goal_name,
                            value: el.optimization_goal
                        });
                        this.selectedGoal = this.goal;
                    });
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        onAccountChanged () {
            this.avalibleCampaigns = [];
            this.campaign_ids = [];
            this.onCustomAudiencesChanged();
            this.tipconfigTypeAvailability(this.selectedType.value, this.selectedAccount.value);
        },
        onCustomAudiencesChanged () {
            this.getCustomAudiences(this.selectedAccount.value);
        },
        getCustomAudiences (accId) {
            axios
                .get(`/api/tipconfig_meta/account/custom_audiences?account_id=${accId}`)
                .then(response => {
                    const CustomAudiencesObj = response.data.custom_audiences;
                    this.CustomAudiences = [];
                    for (let i = 0; i < CustomAudiencesObj.length; i++) {
                        const optionsCustomAudiences = {
                            label: CustomAudiencesObj[i].ca_name,
                            id: Number(CustomAudiencesObj[i].ca_id),
                            selected: this.selectedCustomAudiences.includes(Number(CustomAudiencesObj[i].ca_id)),
                            value: Number(CustomAudiencesObj[i].ca_id)
                        };
                        this.CustomAudiences.push(optionsCustomAudiences);
                    }
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        getSelectedcampaignObj (campaignIds) {
            axios
                .get(`/api/meta/campaigns?campaign_ids=${campaignIds}`)
                .then(response => {
                    const selectedCampaign = Object.entries(response.data.campaigns).map(el => ({
                        label: response.data.campaigns[el[0]].name,
                        value: Number.parseInt(el[0], 10)
                    }));

                    Reflect.apply(Array.prototype.push, this.avalibleCampaigns, selectedCampaign);
                    Reflect.apply(Array.prototype.push, this.selectedCampaigns, selectedCampaign);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        //
        LoadTioconfigSet () {
            axios
                .get(`/api/tipconfig/${this.id}`)
                .then(response => {
                    const tipconfigObj = response.data;
                    if (tipconfigObj.hasOwnProperty('campaigns') && tipconfigObj.campaigns.lenght > 0) {
                        this.getSelectedcampaignObj(tipconfigObj.campaigns);
                    }
                    this.campaign_ids = tipconfigObj.campaigns;
                    this.id = tipconfigObj.id;
                    this.name = tipconfigObj.name;
                    this.AccId = tipconfigObj.account;
                    this.getCustomAudiences(tipconfigObj.account);
                    this.selectedType = {};
                    this.selectedType.value = tipconfigObj.tipconfig_type;
                    this.selectedAccount = this.accounts.find(account => account.value === tipconfigObj.account).label;
                    this.tipconfigTypeAvailability(tipconfigObj.tipconfig_type, tipconfigObj.account);
                    this.TurnoffParent = tipconfigObj.turn_off_parent;
                    this.analyze = tipconfigObj.analyze_ad_sets;
                    this.selectedGoal = {};
                    this.selectedGoal.label = tipconfigObj.optimization_goal_name;
                    this.selectedGoal.value = tipconfigObj.optimization_goal;
                    this.goal.value = tipconfigObj.optimization_goal;
                    this.goal.label = tipconfigObj.optimization_goal_name;
                    this.optimizationGoals.push(this.goal);
                    this.dailyBudget = parseInt(tipconfigObj.adset_daily_budget, 10);
                    this.level.value = tipconfigObj.level;
                    this.InputNumberOfAdSets = tipconfigObj.number_of_ad_sets;
                    this.allocateBudget = tipconfigObj.allocate_budget;
                    this.increaseC = tipconfigObj.increase_budget;
                    this.AdSetGrading = tipconfigObj.ad_set_grading;
                    this.countDays = tipconfigObj.days;
                    this.numberPosts = tipconfigObj.number_of_posts;
                    this.newAdsetsNum = tipconfigObj.number_of_new_adsets;
                    this.NewProspectingAudiences = tipconfigObj.use_interest_based_targeting;
                    this.PageFansAndTheirFriends = tipconfigObj.use_connections_targeting;
                    this.checkedPostsMaxAgeMonths = this.postsMaxAgeMonths.filter(word => word.value === tipconfigObj.posts_max_age_months)[0];
                    this.selectedTargetCountry = avalibleTargetCountry.filter(obj => {
                        return obj.value === tipconfigObj.country;
                    })[0];
                    this.selectedPage = this.pagesAvalible.filter(obj => {
                        return obj.value === tipconfigObj.page;
                    })[0];
                    if (this.campaign_ids) {
                        if (this.campaign_ids.length > 0) {
                            this.getoptimizationGoals();
                        }
                    }
                    this.selectedCustomAudiences = [];
                    if (tipconfigObj.custom_audiences) {
                        if (tipconfigObj.custom_audiences.length > 0) {
                            this.selectedCustomAudiences = tipconfigObj.custom_audiences;
                        }
                    }
                    this.visibleConf(tipconfigObj.tipconfig_type);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        publisher () {
            if (this.form.valid) {
                axios
                    .post('/api/tipconfig/', this.ApiData)
                    .then(response => {
                        // const tipconfigConfirmObj = response.data;
                        this.$bus.$emit('createNewOpim', response);
                        this.close();
                    })
                    .catch(error => {
                        console.log(error);
                        if (error.response.status === 400) {
                            console.log(error.response.data.reason);
                        }
                        return true;
                    });
            } else {
                // eslint-disable-next-line
                alert(this.i18n('required_fields'));
            }
        },
        edit () {
            if (this.form.valid) {
                axios
                    .patch(`/api/tipconfig/${this.id}`, this.ApiData)
                    .then(response => {
                        const tipconfigConfirmObj = response.data;
                        this.$bus.$emit('createNewOpim', response);
                        this.close();
                        console.log(tipconfigConfirmObj);
                    })
                    .catch(error => {
                        console.log(error);
                        if (error.response.status === 400) {
                            console.log(error.response.data.reason);
                        }
                        return true;
                    });
            } else {
                // eslint-disable-next-line
                alert(this.i18n('required_fields'));
            }
        }
    }
};
</script>

<style lang='stylus' module>

    .budgetInput
        border 1px solid #e1e1e1
        border-radius 4px
        height 40px
        line-height @height
        width 45px
        padding-x 8px
        font-size 16px
        color #4a4a4a
        outline 0

        @media desktop-and-up
            margin-left 15px

    .budgetLabel
        span
            margin-left 4px

    .entryFieldset
        background-color #f8f8f8
        padding 10px
        padding-y 20px

        @media desktop-and-up
            background-color #eaeaea
            padding-y 25px
            padding-x 110px

    .field
        display flex
        align-items center

        &:not(:last-child)
            margin-bottom 20px

    .radioSelect
        width 225px
        margin-left 6px

    .fieldInput
        margin-right 10px
        flex 1 1 auto

        @media desktop-and-up
            max-width 430px

    .section
        padding 20px 10px 30px
        background-color #f8f8f8

        @media desktop-and-up
            min-height 80px
            padding 20px 110px
            display flex
            align-items center
            position relative

            &::before
                content ''
                position absolute
                left 310px
                border-left 2px solid #fff
                height 100%

    .row
        @media desktop-and-up
            display flex
            align-items center
            padding-left 25px
            flex 1 1 auto

    .heading
        margin-bottom 27px

        h3 > span
            color $accent
            font-size 16px
            font-weight 700

        @media desktop-and-up
            margin-bottom 0
            width 200px
            padding-right 10px

            h3 > span
                color #707070
                font-size 15px

    .headingTooltip
        display inline-block
        vertical-align middle
        margin-left 4px

    .column
        &:not(:last-child)
            margin-bottom 25px

            @media desktop-and-up
                margin-bottom 0

        @media desktop-and-up
            flex 1 1 auto

            &:first-child
                margin-right 30px

            &:last-child
                flex 0 0 250px
                max-width 250px

    .input
        height 40px
        line-height @height
        padding-x 13px
        border 0
        outline 0
        box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)
        color #343434
        width 100%
        font-size 13px
        font-weight 700

        @media desktop-and-up
            font-weight 300
            font-size 20px
            padding-x 20px
            height 56px
            line-height @height
            box-shadow 0 0 8px 0 rgba(0, 0, 0, .12)

        &::placeholder
            color #bababa

    .footer
        display flex
        justify-content space-between

    .controlIcon
        size 23px
        display block

    .footerControl
        clear-button-defaults()
        background-color #f5f5f5
        border-radius 6px
        padding 9px 9px 9px 11px
        margin-right 20px

        transition background-color .25s

        @media (hover)
            &:hover
                background-color #ddd
    .footerSection
        display flex
        align-items center

    .optionLabel
        font-size 20px
        margin-left 7px
        font-weight 300
.inputError
    border 1px solid red

</style>
