<template>
    <div>
        <div
            v-for="acc in accs"
            v-if="acc.enabled"
            :class="$style.accField"
            :key="acc.id"
        >
            <h3 :class="$style.name">{{ acc.name }}</h3>
            <Optimizations :sortby="acc.id" />
        </div>
    </div>
</template>

<script>
import Optimizations from '@/components/Optimizations';
import { mapGetters } from 'vuex';

export default {
    name: 'AccointLi',
    components: {
        Optimizations
    },
    props: {
        state: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapGetters({
            accs: 'apiSettings/accs'
        })
    },
    created () {
        this.getOptList();
    },
    methods: {
        getOptList () {
            this.$store.dispatch('apiSettings/getSettings');
        }
    }
};
</script>

<style lang='stylus' module>
.accField
  margin-top 20px
  margin-bottom 20px
  background-color #fdfdfd
.name
  padding 20px
</style>
