<template>
    <div
        v-show="billingInfo"
        :class="$style.notify"
    >
        <div
            :class="$style.item"
            @click="go('/billing')"
        >
            <p v-if="countDays">
                {{ i18n('count_free_days') }} {{ countDays }}.
                <span :class="$style.likelink"> {{ i18n('choose_plan') }}</span>
                {{ i18n('suitable_plan') }}
            </p>
            <p v-else>
                <span :class="$style.likelink"> {{ i18n('activate') }}</span>
                {{ i18n('activate_trial') }}
            </p>
        </div>
    </div>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import types from '@/TypeNames';
import typesDict from '@/TypeNamesObj';
import BaseTooltip from '@/components/BaseTooltip';
import { mapGetters } from 'vuex';
import axios from 'axios';
import store from '@/store';

export default {
    name: 'UserTasks',
    components: {
        BaseTooltip
    },
    data () {
        return {
            tooltipDelay: 400,
            i18nDictionary,
            i18n,
            types,
            trialEnd: 0,
            countDays: 0,
            billingInfo: false,
            typesDict
        };
    },
    computed: {
        ...mapGetters({
            createdUser: 'auth/exist'
        })
    },
    mounted () {
        this.getbilling();
    },

    methods: {
        getdiffDays () {
            const now = new Date();
            const timeDiff = Math.abs(Date.parse(this.trialEnd) - now);
            let DayDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (DayDiff <= 0) {
                DayDiff = 0;
            }
            if (DayDiff > 7) {
                DayDiff = 0;
            }
            this.billingInfo = true;
            return DayDiff;
        },
        getbilling () {
            axios
                .get(`/api/user/${store.getters['auth/userId']}/billing`)
                .then(response => {
                    this.currentPlanId = response.data.current_plan_id;
                    this.billing = response.data;
                    this.discount = response.data.discount;
                    this.trial = response.data.trial;
                    // eslint-disable-next-line
                    this.trialEnd = response.data.trial_end;
                    if (this.discount && this.discount !== null) {
                        if (this.discount.duration === 'once' && this.discount.percent_off !== 0) {
                            this.notification0 = `${ this.i18n('one-time_discount') } ${this.discount.percent_off}% ${this.i18n('off_your_next_purchase') }`;
                        }
                        if (this.discount.duration === 'once' && this.discount.amount_off !== 0) {
                            this.notification0 = `${ this.i18n('one-time_discount') } ${this.discount.amount_off}$  ${this.i18n('off_your_next_purchase') }`;
                        }
                        if (this.discount.duration === 'forever' && this.discount.percent_off !== 0) {
                            this.notification0 = `${ this.i18n('persistent_discount') }  ${this.discount.percent_off}% ${ this.i18n('off_all_your_next_purchases') }`;
                        }
                        if (this.discount.duration === 'forever' && this.discount.amount_off !== 0) {
                            this.notification0 = `${ this.i18n('persistent_discount') }  ${this.discount.amount_off}$ ${this.i18n('off_all_your_next_purchases') }`;
                        }
                        if (this.discount.duration === 'repeating' && this.discount.percent_off !== 0) {
                            this.notification0 = `${this.i18n('you_have_a_discount_of') } ${this.discount.percent_off}% ${ this.i18n('next_purchases') } ${this.discount.duration_in_months} months`;
                        }
                        if (this.discount.duration === 'repeating' && this.discount.amount_off !== 0) {
                            this.notification0 = `${this.i18n('you_have_a_discount_of') } ${this.discount.amount_off}% ${ this.i18n('next_purchases') } ${this.discount.duration_in_months} months`;
                        }
                    }
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => (this.countDays = this.getdiffDays()));
        },
        go (path) {
            this.$router.push(path);
        }
    }
};
</script>

<style lang='stylus' module>
p
    padding 4px
    margin auto
    width 90%
    line-height 2
.done
    color gray
    text-decoration line-through
    .link
        color gray
.notify

    @media desktop-and-up
        margin-top 70px

.item
    padding 0px!important
    margin-bottom 10px
    background-color #358ef5
    border-radius 4px
    color #fff
    box-shadow 0 0 13px 0 rgba(0, 0, 0, .04)
    cursor pointer

    &:not(:last-of-type)
        margin-bottom 20px

    @media desktop-and-up
        padding 28px 20px
        align-items center
    h3
        font-size 200%
        text-align center
        padding 5%
    ol
       list-style-type: decimal
.likelink
    text-decoration underline
.link
    color blue
</style>
