<template>
    <svg
        width="25"
        height="23"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
    >
        <g>
            <title>Layer 1</title>
            <g
                id="svg_1"
                fill-rule="nonzero"
                fill="#2D2D2D"
            >
                <path id="svg_2" d="m19.8,12.9c-0.3,0 -0.5,0.2 -0.5,0.5l0,4.1c0,0.7 -0.5,1.2 -1.2,1.2l-11.2,0c-0.7,0 -1.2,-0.5 -1.2,-1.2l0,-4.1c0,-0.3 -0.2,-0.5 -0.5,-0.5s-0.5,0.2 -0.5,0.5l0,4.1c0,1.2 1,2.2 2.2,2.2l3.4,0l0,0.9c0,1.3 1.1,2.4 2.4,2.4c1.3,0 2.4,-1.1 2.4,-2.4l0,-0.9l3.2,0c1.2,0 2.2,-1 2.2,-2.2l0,-4.1c-0.2,-0.3 -0.4,-0.5 -0.7,-0.5zm-5.8,7.7c0,0.8 -0.6,1.4 -1.4,1.4c-0.8,0 -1.4,-0.6 -1.4,-1.4l0,-0.9l2.8,0l0,0.9zm-4.3,-13.3l-0.5,0c-0.3,0 -0.5,0.2 -0.5,0.5l0,0.5c0,0.3 0.2,0.5 0.5,0.5l0.5,0c0.3,0 0.5,-0.2 0.5,-0.5l0,-0.5c0,-0.2 -0.2,-0.5 -0.5,-0.5zm6.1,0l-0.5,0c-0.3,0 -0.5,0.2 -0.5,0.5l0,0.5c0,0.3 0.2,0.5 0.5,0.5l0.5,0c0.3,0 0.5,-0.2 0.5,-0.5l0,-0.5c0,-0.2 -0.2,-0.5 -0.5,-0.5z" />
                <path id="svg_3" d="m21.6,10.6l-1.2,0l0,-0.2c0,-4.2 -3.2,-7.5 -7.3,-7.8l0,-2.1c-0.1,-0.3 -0.3,-0.5 -0.6,-0.5s-0.5,0.2 -0.5,0.5l0,2.1c-4.1,0.3 -7.3,3.7 -7.3,7.8l0,0.2l-1.3,0c-1.4,0 -2.5,1.1 -2.5,2.5l0,1.4c0.1,0.3 0.3,0.5 0.6,0.5s0.5,-0.2 0.5,-0.5l0,-1.4c0,-0.8 0.7,-1.5 1.5,-1.5l18.1,0c0.8,0 1.5,0.7 1.5,1.5l0,1.4c0,0.3 0.2,0.5 0.5,0.5s0.5,-0.2 0.5,-0.5l0,-1.4c-0.1,-1.4 -1.2,-2.5 -2.5,-2.5zm-15.9,-0.2c0,-3.8 3.1,-6.8 6.8,-6.8c3.8,0 6.8,3.1 6.8,6.8l0,0.2l-13.6,0l0,-0.2z" />
            </g>
            <rect
                v-if="alert"
                id="svg_5"
                stroke="#000000"
                fill="#fa3e3e"
                stroke-width="0"
                x="13.41841"
                y="0.39624"
                width="11.38462"
                height="14.89354"
                rx="1"
                ry="1"
            />
            <text
                v-if="alert"
                id="svg_4"
                stroke="#000000"
                transform="matrix(0.6020788904448026,0,0,0.6020788904448026,1.3380069888889485,-5.759184200979202) "
                xml:space="preserve"
                text-anchor="middle"
                font-family="Monospace"
                font-size="24"
                y="29.26067"
                x="29.87768"
                fill="#ffffff"
                stroke-width="0"
            >
                {{ count }}
            </text>
        </g>
    </svg>
</template>
<script>
export default {
    props: {
        iconName: {
            type: String,
            default: 'box'
        },
        count: {
            type: [Number, String],
            default: '∞'
        },
        alert: {
            type: [Boolean],
            default: false
        },
        iconColor: {
            type: String,
            default: 'currentColor'
        }
    }
};
</script>
