<template>
    <div :class="[$style.dropdown, { [$style.open]: isOpen }]">
        <div :class="$style.wrapper">
            <button
                :class="$style.toggle"
                :disabled="editor"
                type="button"
                @click="toggle"
            >
                <span>{{ placeholder }}</span>
            </button>
        </div>
        <transition name="dropdown">
            <div
                v-show="isOpen"
                :class="$style.body"
            >
                <button
                    :class="$style.close"
                    type="button"
                    title="Close"
                    aria-label="Close"
                    @click="close"
                ><span /></button>
                <slot />
            </div>
        </transition>
    </div>
</template>

<script>
import BaseCheckbox from '@/components/BaseCheckbox';
export default {
    name: 'BaseDropdown',
    components: {
        BaseCheckbox
    },
    props: { editor: Boolean, placeholder: String },
    data () {
        return {
            isOpen: false
        };
    },

    methods: {
        toggle () {
            this[this.isOpen ? 'close' : 'open']();
        },

        open () {
            this.isOpen = true;
            document.addEventListener('click', this.handleExternalClick);
        },

        close () {
            this.isOpen = false;
            document.removeEventListener('click', this.handleExternalClick);
        },

        handleExternalClick (e) {
            const target = e.target;

            const isSelf = target === this.$el;
            const isChild = this.$el.contains(target);
            const isInside = isSelf || isChild;

            if (!isInside) {
                this.close();
            }
        }
    }
};
</script>

<style lang='stylus' module>
.dropdown
    position relative
    width 100%

    @media desktop-and-up
        max-width 430px

.body
    position fixed
    top 0
    left 0
    background-color #fff
    z-index 10
    width 100%
    min-height 100vh
    overflow-y auto
    padding-y 10px
    -webkit-overflow-scrolling touch

    @media desktop-and-up
        position absolute
        top 100%
        padding-y 0
        box-shadow 0 5px 8px 0 rgba(0, 0, 0, .12)
        max-height 200px
        min-height auto

        &::-webkit-scrollbar-track
            background-color transparent

        &::-webkit-scrollbar
            size 4px
            background-color transparent

        &::-webkit-scrollbar-track-piece
            background-color #fff

        &::-webkit-scrollbar-thumb
            background-color #343434

            &:hover
            &:focus
                background-color #242424

.toggle
    clear-button-defaults()
    width 100%
    height 40px
    line-height @height
    background-color #fff
    box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)
    font-size 15px
    color #bababa
    text-align left
    padding-left 13px
    padding-right 25px
    position relative

    @media desktop-and-up
        font-weight 300

    @media desktop-and-up
        box-shadow 0 0 8px 0 rgba(0, 0, 0, .12)
        font-size 20px
        height 56px
        padding-left 20px
        padding-right 35px
        line-height @height
    &:disabled
        opacity .6
        cursor not-allowed

    .open &::after
        transform rotate(180deg)

    &::after
        content ''
        position absolute
        height 6px
        width 8px
        top 'calc(50% - %s)' % (@height / 2)
        right 15px
        background url('@/assets/images/svg/triangle.svg') no-repeat 50% 50% / contain
        transition transform .22s

        @media desktop-and-up
            height 8px
            width 10px
            top 'calc(50% - %s)' % (@height / 2)

.close
    clear-button-defaults()
    position absolute
    top 20px
    right 20px

    @media desktop-and-up
        display none

    span
        position relative
        display block
        size 18px
        color #515151
        transform rotate(45deg)

        @media desktop-and-up
            size 26px
            transition opacity .2s

            @media desktop-and-up
                &:hover
                    opacity .6

        &::after
        &::before
            content ''
            position absolute
            background-color currentColor

        &::after
            top 0
            left calc(50% - 1px)
            width 2px
            height 100%

        &::before
            left 0
            top calc(50% - 1px)
            height 2px
            width 100%
</style>
