<template>
    <label :class="$style.checkbox">
        <input
            :class="$style.checkboxInput"
            :value="nativeValue"
            v-model="checked"
            type="checkbox"
            @change="onChange"
        >
        <span :class="$style.checkboxFrame" />
        <slot>
            <span :class="$style.checkboxLabel">{{ label }}</span>
        </slot>
    </label>
</template>

<script>
const valueTypes = [String, Object, Boolean, Array, Symbol, Number];

export default {
    name: 'BaseCheckbox',

    props: {
        label: String,
        value: valueTypes,
        nativeValue: valueTypes
    },

    data () {
        return {
            checkedProxy: false
        };
    },

    computed: {
        checked: {
            get () {
                return this.value;
            },
            set (val) {
                this.checkedProxy = val;
            }
        }
    },

    methods: {
        onChange () {
            this.$emit('input', this.checkedProxy);
        }
    }
};
</script>

<style lang='stylus' module>
.checkbox
    display flex
    align-items center
    cursor pointer

    &:active
        user-select none

.checkboxFrame
    size 10px
    border 1px solid #8f8f8f
    flex-shrink 0
    background-color #fff
    position relative

    &::before
        $height = 8px
        $width = 10px
        content ''

        position absolute
        top 0
        left 0
        size 100%

        background $accent url('@/assets/images/svg/mark.svg') no-repeat 50% 50% / $height $width

        transition opacity .22s
        opacity 0

.checkboxLabel
    font-size 13px
    margin-left 6px

    &.big
        font-size 14px
        margin-left 9px

.checkboxInput
    v-hidden()

    &:checked ~ .checkboxFrame
        border-color $accent

        &::before
            opacity 1
</style>
