<template>
    <div :class="[$style.tooltip, $style[position], { [$style.small]: small }]">
        <span
            :class="$style.target"
            @mouseover="onMouseOver"
            @mouseout="onMouseOut"
        >
            <slot name="target">
                <span :class="$style.icon">?</span>
            </slot>
        </span>
        <transition name="fade">
            <div
                v-show="showTooltip"
                :class="$style.window"
            >
                <slot />
                <button
                    :class="$style.close"
                    type="button"
                    @click="showTooltip = false"
                >{{ i18n('close') }}</button>
            </div>
        </transition>
    </div>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';

export default {
    name: 'Tooltip',

    props: {
        disabled: {
            type: Boolean,
            default: false
        },

        position: {
            type: String,
            default: 'right',
            validator (value) {
                return ['top', 'left', 'bottom', 'right'].includes(value);
            }
        },

        delay: {
            type: Number,
            default: 0
        },

        small: {
            type: Boolean,
            default: false
        }
    },

    data () {
        return {
            showTooltip: false,
            i18nDictionary,
            i18n,
            hovered: false
        };
    },

    methods: {
        onMouseOver () {
            if (!this.disabled) {
                this.hovered = true;

                setTimeout(() => {
                    if (this.hovered) {
                        this.showTooltip = true;
                    }
                }, this.delay);
            }
        },

        onMouseOut () {
            this.showTooltip = this.hovered = false;
        }
    }
};
</script>

<style lang='stylus' module>
.icon
    size 15px
    display block
    border-radius 50%
    line-height @height
    text-align center
    font-size 12px
    font-weight 700
    color #000
    background-color #d8d8d8

    &::after
        content ''
        position absolute
        $offset = -3px
        left $offset
        top $offset
        right $offset
        bottom $offset

    // &:hover ~ .window
    // &:focus ~ .window
    //     opacity 1
    //     visibility visible

.tooltip
    position relative
    outline 0

.window
    background-color #333333
    border 1px solid #424242
    color #fff
    padding 12px 10px 55px
    height 100%
    font-size 13px
    line-height 1.38
    z-index 10
    transition opacity .3s, visibility .3s
    position fixed
    left 0
    top 0
    height 100vh
    width 100%

    $height = 9px
    $width = 15px
    $halfWidth = $width / 2
    $halfHeight = $height / 2
    $tooltipBg = #333

    @media desktop-and-up
        .small &
            width auto
            white-space nowrap

        .top &
        .bottom &
            left 50%
            margin-left 0

        .top &
            top -100%
            transform translate(-50%, -50%)
            margin-bottom 10px

            &::after
                top 100%
                left 'calc(50% - %s)' % $halfWidth
                border-width $height $halfWidth 0 $halfWidth
                border-color $tooltipBg transparent transparent transparent

        .bottom &
            top 100%
            transform translateX(-50%)
            margin-top 10px

            &::after
                top - $height
                left 'calc(50% - %s)' % $halfWidth
                border-width 0 $halfWidth $height $halfWidth
                border-color transparent transparent $tooltipBg transparent

        .left &
            left auto
            right 100%
            margin-left 0
            margin-right 10px

            &::after
                right - $height
                left auto
                border-width $halfWidth 0 $halfWidth $height
                border-color transparent transparent transparent $tooltipBg

    @media desktop-and-up
        height auto
        box-shadow 0 9px 10px 0 rgba(0, 0, 0, 0.22)
        font-size 15px
        line-height 1.25
        padding 5px 6px 6px 7px
        border-radius 5px
        margin-left 10px
        position absolute
        left 100%
        top 50%
        height auto
        transform translateY(-50%)
        width 300px
        backface-visibility hidden

        &::after
            content ''
            position absolute
            top 'calc(50% - %s)' % $halfWidth
            left - $height
            width 0
            height 0
            border-style solid
            border-width $halfWidth $height $halfWidth 0
            border-color transparent $tooltipBg transparent transparent

.close
    clear-button-defaults()
    position fixed
    left 0
    right 0
    bottom 0
    height 33px
    background-color #454545
    color #fff
    font-size 13px
    font-weight 700
    width 100%
    z-index 10

    @media desktop-and-up
        display none

.left
    color pink

</style>
