<template>
    <button
        :aria-pressed="!state"
        :class="$style.switch"
        type="button"
        @click="$emit('onChange', !state)"
    >
        <div :class="$style.indicator" />
    </button>
</template>

<script>
export default {
    name: 'BaseSwitch',

    props: {
        state: {
            type: Boolean,
            default: false
        }
    }
};
</script>

<style lang='stylus' module>
.switch
    clear-button-defaults()
    display block
    width 30px
    border-radius 8.5px
    border 1px solid
    background-color #fff
    color #ddd

    transition color .1s

    &[aria-pressed='true']
        color $accent

        .indicator
            transform translateX(50%)

.indicator
    position relative
    width 100%
    transition transform .25s ease

    &::after
        content ''
        size 14px
        display block
        border-radius 50%
        background-color currentColor

</style>
