<template>
    <label
        :class="[$style.radioButton, { [$style.disabled]: $attrs.disabled }]"
        :disabled="$attrs.disabled"
        :tabindex="$attrs.disabled ? -1 : 0"
    >
        <input
            :class="$style.input"
            v-model="checked"
            :value="nativeValue"
            :disabled="$attrs.disabled"
            type="radio"
            @change="onChange"
        >
        <span :class="$style.frame" />
        <slot>
            <span :class="$style.label">{{ label }}</span>
        </slot>
    </label>
</template>

<script>
const valueTypes = [String, Object, Boolean, Array, Symbol, Number];

export default {
    name: 'RadioButton',

    props: {
        label: String,
        value: valueTypes,
        nativeValue: valueTypes
    },

    data () {
        return {
            checkedProxy: false
        };
    },

    computed: {
        checked: {
            get () {
                return this.value;
            },
            set (newValue) {
                this.checkedProxy = newValue;
            }
        }
    },

    methods: {
        onChange () {
            this.$emit('input', this.checkedProxy);
        }
    }
};
</script>

<style lang='stylus' module>

.radioButton
    position relative
    display flex
    align-items center
    cursor pointer
    outline 0

    &:active
        user-select none

    &.disabled
        opacity .8
        cursor default

    &:not(.disabled):hover .input:not(:checked) ~ .frame::before
        opacity 1

.frame
    size 13px
    background-color #fff
    border 1px solid #ddd
    border-radius 50%
    position relative
    flex-shrink 0
    bottom 1px

    &::after
    &::before
        content ''
        position absolute
        left -1px
        right -1px
        bottom -1px
        top -1px
        transition opacity .25s
        border-radius 50%
        opacity 0

    &::before
        border 2px solid $accent

    &::after
        border 4px solid $accent

.label
    font-size 16px
    color #222
    margin-left 10px

.input
    v-hidden()

    &:checked ~ .frame::after
        opacity 1

</style>
