<template>
    <div
        :class="[$style['m-select'], { [$style['m-select_open']]: isOpen }, { [$style['m-select_empty']]: isEmpty() }, { [$style['m-select_full']]: availableItemsCount.count === 0 }]"
    >
        <div :class="$style['m-select__wrapper']">
            <button
                :class="$style['m-select__toggle']"
                :disabled="disabled"
                type="button"
                @click="toggle"
            >
                <div
                    :class="$style['m-select__placeholder']"
                >
                    {{ placeholder }}
                </div>
                <div
                    :class="$style['m-select__selected-list']"
                >
                    <p
                        v-for="(option) in selectedItems"
                        :key="option.id"
                        :class="$style['m-select__selected']"
                    >
                        <span :class="$style['m-select__selected-label']">{{ option.label }}</span>
                        <span
                            :class="$style['m-select__selected-close']"
                            @click.stop="removeItem(option.id)"
                        />
                    </p>
                </div>
            </button>
        </div>
        <transition name="dropdown">
            <div :class="$style['m-select__dropdown']">
                <div
                    v-show="availableItemsCount.enough"
                    :class="$style['m-select__controls']"
                >
                    <div
                        :class="$style['m-select__search']"
                    >
                        <input
                            ref="search"
                            :placeholder="searchPlaceholder"
                            :class="$style['m-select__search-input']"
                            v-model="search"
                            type="text"
                            name="search"
                            autocomplete="off"
                            @click.stop
                        >
                    </div>
                    <div
                        :class="$style['m-select__all']"
                        @click="selectAll"
                    >
                        {{ selectAllPlaceholder }}
                    </div>
                </div>
                <div
                    v-show="isOpen"
                    :class="$style['m-select__body']"
                >
                    <div :class="$style['m-select__head']">
                        <div :class="$style['m-select__head-title']">
                            {{ headTitle }}
                        </div>
                        <button
                            :class="$style['m-select__close']"
                            type="button"
                            title="Close"
                            aria-label="Close"
                            @click="close"
                        ><span
                            :class="$style['m-select__close-cross']"
                        /></button>
                    </div>
                    <ul :class="$style['m-select__list']">
                        <li
                            v-for="(option) in filteredList"
                            :key="option.id"
                            :class="[$style['m-select__list-item'], { [$style['m-select__list-item_info']]: option.showInfo }]"
                            @click="option.showInfo ? selectItem(infoPrefix + option.showInfo) : selectItem(option.id)"
                        >
                            <span
                                v-show="option.showInfo"
                                :class="$style['m-select__list-info']"
                                @click.stop=""
                            >
                                <BaseTooltip>{{ infoPrefix + option.showInfo }}</BaseTooltip>
                            </span>
                            <span :class="$style['m-select__list-name']">{{ option.label }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import BaseTooltip from '@/components/BaseTooltip';

export default {
    name: 'BaseMultipleSelect',
    components: {
        BaseTooltip
    },
    props: {
        placeholder: String,
        searchPlaceholder: String,
        selectAllPlaceholder: String,
        headTitle: String,
        list: Array,
        infoPrefix: String
    },

    data () {
        return {
            isOpen: false,
            search: '',
            desktop: 1000,
            isMobile: true,
            sort: false
        };
    },

    computed: {
        disabled () {
            return this.list.length === 0;
        },

        filteredList () {
            let filtered = {};
            if (this.list.length > 0) {
                filtered = this.list.filter(el => {
                    return !el.selected && el.label.match(new RegExp(this.search, 'i'));
                });

                if (this.sort) {
                    filtered.sort((a, b) => b.comparative - a.comparative);
                }
            }

            return filtered;
        },

        availableItemsCount () {
            const count = this.list.filter(el => !el.selected).length;
            return {
                count,
                enough: count > 5
            };
        },

        selectedItems () {
            const selected = this.list.filter(el => el.selected);

            if (this.sort) {
                selected.sort((a, b) => b.comparative - a.comparative);
            }

            return selected;
        }
    },

    created () {
        window.addEventListener('resize', this.checkMobile);
        this.checkMobile();
        this.sort = this.list.length > 0 ? Boolean(this.list[0].comparative) : false;
    },

    methods: {
        isEmpty () {
            const empty = !(this.list.some(el => el.selected === true));
            this.$emit('empty', empty);
            return empty;
        },

        toggle () {
            if (this.availableItemsCount.count !== 0) {
                this[this.isOpen ? 'close' : 'open']();
            }
        },

        open () {
            this.isOpen = true;
            this.search = '';
            document.addEventListener('click', this.handleExternalClick);
            this.$refs.search.focus();
        },

        close () {
            this.isOpen = false;
            document.removeEventListener('click', this.handleExternalClick);
        },

        handleExternalClick (e) {
            const target = e.target;

            const isSelf = target === this.$el;
            const isChild = this.$el.contains(target);
            const isInside = isSelf || isChild;

            if (!isInside) {
                this.close();
            }
        },

        removeItem (id) {
            this.changeList(this.list.findIndex(el => el.id === id));
        },

        selectItem (id) {
            if (isNaN(id)) {
            // eslint-disable-next-line
                alert(id);
            } else {
                if (!this.isMobile) {
                    this.close();
                }
                this.changeList(this.list.findIndex(el => el.id === id));
            }
        },

        changeList (id) {
            this.list[id].selected = !this.list[id].selected;
            this.$emit('change', this.list[id]);
        },

        checkMobile () {
            this.isMobile = window.innerWidth < this.desktop;
        },

        selectAll () {
            this.close();

            const change = this.list.filter(el => {
                const valid = !el.selected;
                if (!el.selected) {
                    el.selected = true;
                }
                return valid;
            });

            this.$emit('change', change);
        }
    }
};
</script>

<style lang='stylus' module>
.m-select
    position relative
    width 100%

    @media desktop-and-up
        max-width 430px

    &__toggle
        clear-button-defaults()
        box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)
        position relative
        width 100%
        min-height 40px
        background-color #fff
        font-size 15px
        line-height 52px
        text-align left
        color #bababa

        @media desktop-and-up
            box-shadow 0 0 8px 0 rgba(0, 0, 0, .12)
            min-height 56px
            padding-left 20px
            padding-right 35px
            font-size 20px
            font-weight 300
            ^[0]_full &
                cursor default

        &:disabled
            opacity .6
            cursor not-allowed

        &::after
            content ''
            position absolute
            height 6px
            width 8px
            top 'calc(50% - %s)' % (@height / 2)
            right 15px
            background url('@/assets/images/svg/triangle.svg') no-repeat 50% 50% / contain
            transition transform .22s

            @media desktop-and-up
                height 8px
                width 10px
                top 'calc(50% - %s)' % (@height / 2)
            ^[0]_open &
                transform rotate(180deg)
            ^[0]_full &
                display none

    &__placeholder
        display none
        font-size 16px
        line-height 56px
        color #343434
        @media desktop-and-up
            font-size 20px
        ^[0]_empty &
            display block

    &__controls
        height 0
        background-color #CCC
        overflow hidden
        ^[0]_open &
            height 90px
            padding 10px 0 10px 0
            background-color white
            overflow visible

    &__search
        padding 0 40px 0 20px

        &-input
            width 100%
            height 40px
            border none
            font-family inherit
            font-size 16px
            line-height 26px
            color black
            outline none

    &__all
        padding 12px 40px 12px 20px
        font-weight bold
        cursor pointer
        &:hover
            background-color grey + 50%

    &__selected
        border-radius 2px
        box-shadow 0 0 1px gray
        display inline-flex
        align-items center
        margin 2px 5px 2px 0
        padding 1px 4px
        background-color white

        &-list
            display inline-block
            width 100%
            min-height 30px
            padding 13px 0
            line-height 10px
            vertical-align middle
            ^[0]_empty &
                display none

        &-label
            flex-basis 100%
            padding-right 10px
            font-size 14px
            font-weight 300
            line-height 12px
            color #343434
            word-break break-all

        &-close
            border-radius 3px
            display block
            width 16px
            height 16px
            &:before
            &:after
                content ""
                position absolute
                display block
                width 9px
                height 2px
                margin 7px 0 0 3px
                background-color #ababab
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)
            &:hover
                background-color #eaeaea
                &:after
                &:before
                    background-color white

    &__dropdown
        position fixed
        z-index 10
        top 0
        left 0
        width 100%
        @media desktop-and-up
            box-shadow 0 5px 8px 0 rgba(0, 0, 0, .12)
            position absolute
            top 100%

    &__body
        background-color #fff
        width 100%
        height calc(100vh)

        @media desktop-and-up
            position static
            padding-y 0
            max-height 200px
            min-height auto

            &::-webkit-scrollbar-track
                background-color transparent

            &::-webkit-scrollbar
                size 4px
                background-color transparent

            &::-webkit-scrollbar-track-piece
                background-color #fff

            &::-webkit-scrollbar-thumb
                background-color #343434
                &:hover
                &:focus
                    background-color #242424

    &__head
        height 40px
        padding 9px 20px
        @media desktop-and-up
            display none

        &-title
            float left
            line-height 22px

    &__close
        clear-button-defaults()
        float right

        @media desktop-and-up
            display none

        &-cross
            position relative
            display block
            size 18px
            color #515151
            transform rotate(45deg)

            @media desktop-and-up
                size 26px
                transition opacity .2s

                @media desktop-and-up
                    &:hover
                        opacity .6

            &::after
            &::before
                content ''
                position absolute
                background-color currentColor

            &::after
                top 0
                left calc(50% - 1px)
                width 2px
                height 100%

            &::before
                left 0
                top calc(50% - 1px)
                height 2px
                width 100%

    &__list
        -webkit-overflow-scrolling touch
        height calc(100vh - 40px)
        overflow-y auto
        @media desktop-and-up
            max-height 200px
            min-height auto

        &-item
            padding 12px 20px
            cursor pointer
            &:hover
                background-color grey + 80%
            &_info
                display flex
                align-items center
                background-color red + 97%
                &:hover
                    background-color red + 90%

        &-info
            order 2
            display block
            padding-left 10px
            @media desktop-and-up
                order 0
                padding-right 10px
</style>
