<template>
    <div
        id="app"
        :class="$style.stripe"
    >
        <div
            :class="$style['stripe__wrap']"
        >
            <card
                :options="stripeOptions"
                :stripe="apiKey"
                :class="{ complete }"
                class="stripe-card"
                @change="complete = $event.complete"
            />
        </div>
        <div
            v-show="complete"
            :class="$style['stripe__btn']"
        >
            <button
                :disabled="!complete"
                type="button"
                class="pay-with-stripe ui-button ui-button_accent"
                @click="pay"
            > {{ buttonName }}</button>
        </div>
    </div>
</template>
<script>
/* eslint-disable no-undef, no-process-env */
const { STRIPE_APP_ID } = process.env;
import { stripeOptions } from '@/stripeConfig.json';
import { Card, createSource } from 'vue-stripe-elements-plus';
import axios from 'axios';
import store from '@/store';
export default {
    components: { Card },
    props: {
        buttonName: String
    },
    data () {
        return {
            complete: false,
            apiKey: STRIPE_APP_ID,
            stripeOptions
        // see https://stripe.com/docs/stripe.js#element-options for details
        };
    },
    methods: {
        pay () {
            // createToken returns a Promise which resolves in a result object with
            // See https://stripe.com/docs/api#tokens for the token object.
            // See https://stripe.com/docs/api#errors for the error object.
            // More general https://stripe.com/docs/stripe.js#stripe-create-token.
            createSource().then(data => axios
            /* eslint-disable camelcase */
                .post(`/api/user/${store.getters['auth/userId']}/billing/payment_source`, { source_id: data.source.id })
                .then(response => {
                    this.$emit('updateCard');
                    console.log(response.data);
                })
                .catch(error => {
                    const errorstamp = error.response.data.debug.error_event_stamp;
                    this.$bus.$emit('errorcard', errorstamp);
                    return true;
                })
            );
        /* eslint-enable camelcase */
        }
    }
};
/* eslint-enable */
</script>
<style lang='stylus' module>
.stripe
    width 80%
    padding-left 26px
    max-width 705px
    margin-left auto

    &__wrap
        border-radius 6px
        height 46px
        padding 10px 20px
        border 1px solid #ccc
        overflow hidden

    &__btn
        margin-top 20px
        text-align right
</style>
