<template>
    <transition
        name="slide-in"
        @after-enter="afterEnter"
        @before-leave="beforeLeave"
    >
        <div v-show="isActive" :class="$style.menu">
            <div :class="[$style.content, { [$style.isHidden]: !showContent }]">
                <ul :class="$style.links">
                    <li :class="$style.link">
                        <span
                            :class="$style['link-text']"
                            @click="goOut('https://intercom.help/leadza-support')"
                        >{{ i18n('help') }}</span>
                    </li>
                    <li :class="$style.link">
                        <span
                            :class="$style['link-text']"
                            @click="go('/billing')"
                        >{{ i18n('billing') }}</span>
                    </li>
                    <li :class="$style.link">
                        <span
                            :class="$style['link-text']"
                            @click="go('/plans')"
                        >{{ i18n('plans') }}</span>
                    </li>
                    <li :class="$style.link">
                        <span
                            :class="$style['link-text']"
                            @click="go('/settings')"
                        >{{ i18n('settings') }}</span>
                    </li>
                    <li :class="$style.link">
                        <span
                            :class="$style['link-text', 'link-text_logout']"
                            @click="exit()"
                        >{{ i18n('logout') }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </transition>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';

export default {
    name: 'Menu',

    props: {
        isActive: Boolean
    },

    data () {
        return {
            i18nDictionary,
            i18n,
            showContent: false
        };
    },

    methods: {
        afterEnter () {
            this.showContent = true;
            this.$bus.$emit('window:lock');
        },

        beforeLeave () {
            this.showContent = false;
            this.$bus.$emit('window:unlock');
        },

        go (path) {
            this.$router.push(path);
        },
        goOut (path) {
            window.open(path, '_blank');
        },

        exit () {
            this.$store.dispatch('auth/logOut');
        }
    }
};
</script>

<style lang='stylus' module>
.menu
    position fixed
    top 50px
    left 0
    right 0
    z-index 101
    width 100%
    height 100vh
    background-color #fff
    overflow hidden
    overflow-y auto

    @media desktop-and-up
        display none

.content
    transition opacity .4s

    &.isHidden
        opacity 0

.link
    padding-y 32px
    padding-x 40px
    font-size 18px
    border-bottom 1px solid #e4e4e4

    &-text
        color #000
        &_logout
            color #000 + 40%
</style>
