<template>
    <div :class="tabClasses">
        <div
            :tabindex="isOpen ? -1 : 0"
            :class="$style.heading"
            :aria-expanded="isOpen ? 'true' : 'false'"
            role="button"
            @keypress.enter="toggle"
            @click.self="toggle"
        >
            <BaseCheckbox
                :class="[$style.checkbox, $style.big, {[$style.disabled]: !isAnyCampaignChecked(data.id) && isAccountChecked(data.id) }]"
                :label="data.name"
                :value="isAccountChecked(data.id)"
                @input="onAccStateChange"
            />
            <span :class="$style.adSpend">
                {{ getCampaginTotalCheckedSpend(data.id) | toCurrency }}/
                {{ getCampaginTotalSpend(data.id) | toCurrency }}
            </span>
        </div>
        <transition
            name="collapsible"
            @after-enter="refreshHeight"
        >
            <div
                v-show="isOpen"
                ref="body"
                :style="{ 'height': calculatedHeight }"
                :class="$style.body"
            >
                <div
                    v-for="(campaign, index) in sortedCampaigns"
                    :class="$style.campaign"
                    :key="index"
                >
                    <BaseCheckbox
                        :label="campaign.name"
                        :value="campaign.enabled"
                        @input="onCampaignStateChange(campaign, $event)"
                    />
                    <span :class="$style.accSpend">
                        {{ campaign.last_month_spend_usd | toCurrency }}
                    </span>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import BaseCheckbox from '@/components/BaseCheckbox';
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
    name: 'PricingAdsTab',

    components: {
        BaseCheckbox
    },

    props: {
        data: Object,
        index: Number
    },

    data () {
        return {
            isOpen: false,
            useInitialHeight: false,
            height: 0
        };
    },

    computed: {
        ...mapGetters('pricingModule', [
            'getCampaginTotalSpend',
            'getCampaginTotalCheckedSpend',
            'isAllAccountsChecked',
            'isAnyCampaignChecked',
            'isAccountChecked'
        ]),

        sortedCampaigns () {
            return [...this.data.campaigns].sort((a, b) => b.last_month_spend_usd - a.last_month_spend_usd);
        },

        calculatedHeight () {
            return (this.height === 0 || this.useInitialHeight) ? 'initial' : `${this.height}px`;
        },

        tabClasses () {
            const { open, grey, pricingAdsTab } = this.$style;
            return [
                pricingAdsTab,
                {
                    [open]: this.isOpen,
                    [grey]: this.index % 2 === 0
                }
            ];
        }
    },

    created () {
        this.$bus.$on('window:resize', this.refreshHeight);
    },

    mounted () {
        this.$nextTick(this.refreshHeight);
    },

    methods: {
        ...mapActions('pricingModule', [
            'checkAcc', 'checkParentAcc', 'showAds'
        ]),

        ...mapMutations('pricingModule', ['CHECK_CAMPAIGN']),

        onCampaignStateChange (campaign, value) {
            this.CHECK_CAMPAIGN({ campaign, value });
            this.checkParentAcc({ index: this.data.id });
        },

        onAccStateChange (value) {
            this.checkAcc({ index: this.data.id, value });
            this.isOpen = false;
        },
        toggle () {
            this.isOpen = !this.isOpen;
        },

        refreshHeight () {
            const body = this.$refs.body;
            this.useInitialHeight = true;
            body.style.display = 'block';

            this.$nextTick(() => {
                this.height = body.scrollHeight + 1;
                this.useInitialHeight = false;

                if (!this.isOpen) {
                    body.style.display = 'none';
                }
            });
        }
    }
};
</script>

<style lang='stylus' module>
.pricingAdsTab
    &.grey
        background-color #f8f8f8

.heading
    padding-y 12px
    padding-x 10px
    display flex
    justify-content space-between
    align-items center
    outline 0
    cursor pointer

    @media desktop-and-up
        position relative

        &:hover::after
            opacity 1

        &::after
            content ''
            position absolute
            left 42px
            top calc(50% - 5.5px)
            height 11px
            width 21px
            background url('@/assets/images/svg/arrow.svg') no-repeat 50% 50% / contain

            opacity 1
            transition opacity .25s, transform .35s $ease-out-cubic

            .open &
                opacity 1
                transform rotate(-180deg)

    &:active
        user-select none

    @media desktop-and-up
        padding-x 110px

.body
    overflow hidden

.campaign
    padding-y 9px
    margin-left 35px
    padding-right 10px
    border-top 1px solid #f8f8f8
    display flex
    align-items center
    justify-content space-between

    .grey &
        border-color #fff

    @media desktop-and-up
        margin-left 130px
        padding-right 0
        margin-right 110px

.adSpend
    font-size 14px
    pointer-events none

.accSpend
    font-size 12px

.adLabel
    font-size 14px
    margin-left 9px

.disabled
    :last-child
        color gray
</style>
